<section class="well">
  <ul id="hatebu" class="nav nav-list">
    <li class="nav-header">Hatebu</li>
    <li>
    <script language="javascript" type="text/javascript" src="http://b.hatena.ne.jp/js/widget.js" charset="utf-8"></script>
    <script language="javascript" type="text/javascript">
      Hatena.BookmarkWidget.url   = "gam0022.net/";
      Hatena.BookmarkWidget.title = "人気記事";
      Hatena.BookmarkWidget.sort  = "count";
      Hatena.BookmarkWidget.width = 0;
      Hatena.BookmarkWidget.num   = 10;
      Hatena.BookmarkWidget.theme = "default";
      Hatena.BookmarkWidget.load();
    </script>
    </li>
  </ul>
</section>
