<section class="well">
  <ul id="other" class="nav nav-list">
    <li class="nav-header">Ohter</li>
    <li>
      <!-- NINJA ANALYZE -->
      <script type="text/javascript" src="http://code.analysis.shinobi.jp/ninja_ar/Script?id=00101366&hash=f53ac6c"></script>
      <script type="text/javascript">
      //<![CDATA[
      var analyze00101366 = ninja_analyze('00101366', 36, 'f53ac6c');
      analyze00101366.Process();
      //]]>;
      </script>
      <!-- /NINJA ANALYZE -->
    </li>
  </ul>
</section>
