// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

blockquote {
	border-left: 4px solid #ccc;
	margin-left: 10px;
	font-style: italic;
	color: #777;
}

div.entry-content {
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 26px;

	h1, h2, h3, h4, h5, h6 {
    width: auto;
		line-height: 2;
		margin-top: 30px;
		margin-bottom: 20px;
		padding-left: 10px;
    clear: both;
	}
	h1 {
		font-size: 20px;
		background: #eee;  
		border-left: 7px solid #777;  
		margin-top: 50px;
	}
	h2 {
		font-size: 18px;
		border-left:7px solid #ccc;  
		border-bottom:1px solid #ccc;
		margin-top: 40px;
	}
	h3 {
		font-size: 15px;
		border-left:7px solid #ccc;  
	}
	h4 {
		line-height: 1.5;
		font-size: 14px;
		border-bottom:1px solid #ddd;
	}
	h5 {
		line-height: 1.5;
		font-size: 12px;
		border-bottom:1px dashed #ddd;
	}
	h6 {
		line-height: 1.5;
		font-size: 11px;
	}
  ul,ol {
    margin-left: 30px;
    width: auto;
  }
  dt {
    margin-top: 20px;
  }
  dl {
    margin-left: 10px;
  }
  li {
    line-height: 2;
  }

  img {
    margin: 20px;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .clear {
    clear: both;
  }
}

div.well > h2 {
  margin: 0;
  border: none;
}

.page-header h1 {
  font-size: 35px;
}
